@font-face {
    font-family: 'JUFSigil';
    src: url('../font/JUFSigil.woff') format('woff'), /* Pretty Modern Browsers */
    url('../font/JUFSigil.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../font/JUFSigil.svg#JUFSigil') format('svg'); /* Legacy iOS */
}

.JUFSigil {
    font-family: 'JUFSigil', Fallback, sans-serif;
}

.jumbotron {
    /* background-color: #f4511e; */ /* Orange */
    background-color: #444444; /* Dark Grey */
    color: #ffffff; /* White */
    padding: 100px 25px;
}

.container-fluid .jumbotron {
    border-radius: 0px;
}

.jumbotron h1 {
    font-size: 20em;
}

@media screen and (max-width: 768px) {
    .jumbotron h1 {
	font-size: 8em;
    }
}

body {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5em;
}

.navbar, .jumbotron, h1, h2, h3, h4, h5 {
    font-family: 'Josefin Sans', sans-serif;
}

.center {
    text-align: center;
}

.org-center {
    text-align: center;
}

#side-menu-front {
    background-attachment: scroll, fixed;
    position: fixed;
}

#side-menu-front li {
    float: none;
}

@media screen and (max-width: 768px) {
    #side-menu-front {
	background-attachment: scroll;
	position: static;
    }
}

.sigil-padding {
    padding-top: 20px;
}

.bg-grey {
    background-color: #f6f6f6; /* Light Grey */
}

.container-fluid {
    padding: 60px 50px;
}

.listicon {
    padding-right: 15px;
}

.logo {
    color: #444444;
    font-size: 200px;
}

.logo-small {
    color: #444444;
    font-size: 50px;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
	text-align: center;
	margin: 25px 0;
    }
}

.JUFSigilSM {
    color: #444444;
    font-size: 8em;
}

.follow-bubbles {
    padding-top: 40px;
}

figure img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

figcaption {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

figcaption h4 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    font-size: 0.8em;
}

figcaption p {
    padding-top: 0px;
    padding-bottom: 0px;
    font-style: italic;
    font-size: 0.8em;
}

.parallax {
    /* Set a specific height */
    height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-photography {
    /* The image used */
    background-image: url("../img/parallax_photography.jpg");
}

.parallax-film {
    /* The image used */
    background-image: url("../img/parallax_film.jpg");
}

.parallax-writing {
    /* The image used */
    background-image: url("../img/parallax_writing.jpg");
}

@media screen and (max-width: 768px) {
    .parallax {
        background-attachment: scroll;
    }
}

.carousel-indicators li {
    border-color: #444444;
}

.carousel-indicators li.active {
    background-color: #444444;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

.JUFSigilNavBar {
    color: #444444;
    font-size: 2em;
    letter-spacing: 0px;
}

.navbar {
    margin-bottom: 0;
    background-color: #444444;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #444444 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #444444;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

.jumboHeader {
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 40px;
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
	opacity: 0;
	-webkit-transform: translateY(70%);
    }
    100% {
	opacity: 1;
	-webkit-transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
	opacity: 0;
	-webkit-transform: translateY(70%);
    }
    100% {
	opacity: 1;
	-webkit-transform: translateY(0%);
    }
}

.indentBlock {
    padding-left: 1em;
    font-family: monospace;
}

.lowerPadding {
    padding-bottom: 6em;
}
